<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
  <link rel="shortcut icon" type="image/png" href="{{ '/assets/favicon.png' }}" >
  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Person",
      "name": "Arjun Shakdher",
      "familyName": "Shakdher",
      "email": "arjunshakdher@gmail.com",
      "birthDate": "1993-08-14",
      "jobTitle": "Prototyping",
      "knowsAbout": "Artificial Intelligence / Machine Learning, IoT, Data Analytics, Software Engineering",
      "nationality": "India",
      "worksFor": "AWS",
      "sameAs": [
        "https://www.linkedin.com/in/arjunshakdher/",
        "https://community.aws/@ashakdhe",
        "https://scholar.google.com/citations?hl=en&user=iNvgOPYAAAAJ",
        "https://ieeexplore.ieee.org/author/37087870625",
        "https://www.researchgate.net/profile/Arjun-Shakdher",
        "https://hammer.purdue.edu/authors/Arjun_Shakdher/6636098",
        "https://strategy.asee.org/authors/arjun-shakdher",
        "https://medium.com/@arjunshakdher",
        "https://www.instagram.com/arjunshakdher/",
        "https://medium.com/@arjunshakdher/about",
        "https://soundcloud.com/arjun-shakdher",
        "https://www.youtube.com/user/aj93cool",
        "https://dblp.org/pid/191/7776.html",
        "https://www.google.com/search?q=arjun+shakdher&rlz=1C5GCEM_en&oq=arjun+shakdher&gs_lcrp=EgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7MgYIARBFGDsyBggCEEUYOzIGCAMQRRhAMgYIBBBFGDwyBggFEEUYPDIGCAYQRRg80gEIMjMxMmowajmoAgCwAgE&sourceid=chrome&ie=UTF-8"
      ]
    }
    </script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "ProfilePage",
        "mainEntity": {
          "@type": "Person",
          "name": "Arjun Shakdher",
          "description": "Arjun is passionate about blending technology into the fabric of life. Holding a master’s degree from Purdue University, Arjun’s current role at AWS revolves around researching, architecting and developing cutting-edge prototypes that span an array of domains, presently featuring the realms of Artificial Intelligence / Machine Learning. When not immersed in code and digital landscapes, you’ll find Arjun indulging in the world of coffee, exploring the intricate mechanics of horology, or reveling in the artistry of automobiles.",
          "image": "https://arjunshakdher.xyz/images/avatar.jpg",
          "sameAs": [
          "https://www.linkedin.com/in/arjunshakdher/",
          "https://community.aws/@ashakdhe",
          "https://scholar.google.com/citations?hl=en&user=iNvgOPYAAAAJ",
          "https://ieeexplore.ieee.org/author/37087870625",
          "https://www.researchgate.net/profile/Arjun-Shakdher",
          "https://hammer.purdue.edu/authors/Arjun_Shakdher/6636098",
          "https://strategy.asee.org/authors/arjun-shakdher",
          "https://medium.com/@arjunshakdher",
          "https://www.instagram.com/arjunshakdher/",
          "https://medium.com/@arjunshakdher/about",
          "https://soundcloud.com/arjun-shakdher",
          "https://www.youtube.com/user/aj93cool",
          "https://dblp.org/pid/191/7776.html",
          "https://www.google.com/search?q=arjun+shakdher&rlz=1C5GCEM_en&oq=arjun+shakdher&gs_lcrp=EgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7MgYIARBFGDsyBggCEEUYOzIGCAMQRRhAMgYIBBBFGDwyBggFEEUYPDIGCAYQRRg80gEIMjMxMmowajmoAgCwAgE&sourceid=chrome&ie=UTF-8"
        ]
        }
      }
      </script>
</head>
